.git
.gitignore
.env
.venv
node_modules
**/node_modules
.next
**/.next
__pycache__
**/__pycache__
.pytest_cache
**/.pytest_cache
*.pyc
*.pyo
*.pyd
.DS_Store
apps/api-server/uploads
apps/api-server/.coverage
docs
